$_ColorMainBg:#0f0f0f;
$_ColorCardBg:lighten($_ColorMainBg ,6);

$_ColorMainText:#efefef;
$_ColorDarkText:darken($_ColorMainText,20);

$_ColorPrimryGreen:#00c39a;
$_ColorPrimryYellow:#ffc03c;
$_ColorPrimryRed:#fe6d79;
$_ColorPrimryPurpul:#8325fd;
$_ColorPrimryBlue:#2868b2;


