/* Start Main Page */
$_FontSizeDefult:14px;
$_FontSizeSectionHeader:24px;

//MainIfno Section
$_FontSizeSubject:3rem;
$_FontSizeHeader:15px;


    //Card in MainPages
    $_FontSizeCardConter:$_FontSizeSubject;
    $_FontSizeCardInfo:12px;

    $_FontSizeHireMe:$_FontSizeDefult;

//Project Section
$_FontSizeREADMore:15px;

//Bio Section 
$_FontSizeBioSection:$_FontSizeDefult (+4);
 
    $_FontSizeBioSubject:$_FontSizeBioSection ;
    $_FontSizeSocialMedia:20px;


/* End Main Page */